body {
  font-family: Arial, sans-serif;
  background: #ffffff;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 2rem;
}

.popup {
  display: flex;
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background-color: rgb(0, 0, 0);
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.popup-content {
  background: #ffffff;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 0 20px #00bfff;
  max-width: 400px;
  margin: auto;
  text-align: center;
}

.popup-content button {
  background: #00bfff;
  border: none;
  color: white;
  padding: 10px 20px;
  margin-top: 1rem;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.5s, transform 0.5s;
}
.popup-content button:hover {
    transform: translate(0px, 0px) scale(0.95);
    animation: color 1000ms ease-in-out infinite;
}

.fade-out {
  opacity: 0;
  transition: opacity 0.25s ease;
}

.download-btn {
    border: 2px solid #ffffff;
    border-radius: 5px;
    background-color: #5f9aff;
    color: #ffffff;
    transition: background-color 0.5s, transform 0.5s;
    height: 30px;
    width: 110px;
}

.download-btn:hover {
    transform: translate(0px, 0px) scale(0.95);
    animation: color 1000ms ease-in-out infinite;
}

.thanksdiv1 {
    transition: background-color 0.5s, transform 0.5s;
}

.thanksdiv1:hover {
    transform: translate(0px, 0px) scale(0.95);
    animation: textcolor 1000ms ease-in-out infinite;
}

.btn {
    height: 30px;
    width: 30px;
    background-color: rgb(255, 255, 255);
    border: none;
    margin-left: 27%;
    margin-top: -10%;
}

.svgcss {
  background: rgba(245, 40, 145, 0);
}

@keyframes color {
  0% {
    background-color: red;
  }
  20% {
    background-color: orange;
  }
  40% {
    background-color: yellow;
  }
  60% {
    background-color: greenyellow;
  }
  80% {
    background-color: aqua;
  }
  100% {
    background-color: red;
  }
}

@keyframes textcolor {
  0% {
    color: red;
  }
  20% {
    color: orange;
  }
  40% {
    color: yellow;
  }
  60% {
    color: greenyellow;
  }
  80% {
    color: aqua;
  }
  100% {
    color: red;
  }
}
@keyframes borcolor {
  0% {
    border-color: red;
  }
  20% {
    border-color: orange;
  }
  40% {
    border-color: yellow;
  }
  60% {
    border-color: greenyellow;
  }
  80% {
    border-color: aqua;
  }
  100% {
    border-color: red;
  }
}

